@model UsuarioModel
@{
    ViewData["Title"] = "Edição de usuarios";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}

<input type="hidden" asp-for="Id" />

<body class="bg-dark">
    <br />
    <div class="text-center">
        <h1 class="text-light display-4"> Edição de usuarios</h1>
    </div>

    <br />
    <form asp-controller="Usuario" asp-action="Editar" method="post">

        <input type="hidden" asp-for="Id" />
        <div>
            <h3 class="text-light"> Editar o usuário:</h3>
            <br />
            <div class="row">
                <div class="col">
                    <label class="text-light">Nome</label>
                    <input type="text" value="@Model.Nome" class="form-control" asp-for="Nome">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <label class="text-light">E-mail</label>
                    <input type="email" value="@Model.Email" class="form-control" asp-for="Email">
                </div>
                <div class="col">
                    <label class="text-light">Perfil</label>
                    <select class="form-control" asp-for="Perfil">
                        <option selected> @Model.Perfil</option>
                        <option value="Teste"> Teste</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <label class="text-light">Login</label>
                    <input type="text" value="@Model.Login" class="form-control" asp-for="Login">
                </div>
                <div class="col">
                    <label class="text-light">Senha</label>
                    <input type="password" class="form-control" asp-for="Senha" placeholder="Digite nova senha">
                </div>
            </div>
            <br />
            <button type="submit" asp-controller="Usuario" asp-action="Index" class="btn btn-secondary">Cancelar</button>
            <button type="submit" asp-controller="Usuario" asp-action="Atualizar" class="btn btn-primary"> Salvar</button>
        </div>
    </form>
</body>
