@model List<UsuarioModel>
@{
    ViewData["Title"] = "Usuarios";
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemSucesso"]
    </div>
}

<br />
<body class="bg-dark">
    <div class="text-center">
        <h1 class="text-light">Lista de usuarios</h1>
    </div>
    <br />
    <div class="text-right">
        <a role="button" asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
        <a role="button" class="btn btn-primary btn-sm" asp-controller="Usuario" asp-action="Salvar">Cadastrar novo</a>
    </div>
    <br />
    <table class="table table-dark table-striped rounded-sm">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Login</th>
                <th scope="col">Perfil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @if (Model != null && Model.Any())
        {
            foreach (UsuarioModel User in Model)
            {
                <tbody>
                    <tr>
                        <td>@User.Nome</td>
                        <td>@User.Email</td>
                        <td>@User.Login</td>
                        <td>@User.Perfil</td>
                        <td>
                            <a role="button" asp-route-id="@User.Id" class="btn btn-primary btn-sm" asp-controller="Usuario" asp-action="Editar">Editar</a>
                            <a role="button" asp-route-id="@User.Id" class="btn btn-danger btn-sm" asp-controller="Usuario" asp-action="ApagarConfirmacao">Apagar</a>
                        </td>
                    </tr>
                </tbody>
            }
        }

    </table>
</body>